/* bengali */
@font-face {
  font-family: 'Anek Bangla';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/anekbangla/v1/_gPW1R38qTExHg-17BhM6n66QhabMYB0fBKONtHhRSIUIre5mq3Ofu9ZEpIq5pyy.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Anek Bangla';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/anekbangla/v1/_gPW1R38qTExHg-17BhM6n66QhabMYB0fBKONtHhRSIUIre5mq3Ofu9ZEo4q5pyy.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Anek Bangla';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/anekbangla/v1/_gPW1R38qTExHg-17BhM6n66QhabMYB0fBKONtHhRSIUIre5mq3Ofu9ZEoAq5g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{ 
  display:flex;
  flex-direction: column;
  
}


.text {
  color: black;
  font-size: 25px;
  margin-top: 105px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 40px;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: 'Anek Bangla', sans-serif;
}

